/** Shared **/

body {
    font-family: sans-serif;
    background: #fff;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255,255,255,0.6);
    transition: background-color 0.3s;
}

td:hover {
    background-color: rgba(255,255,255,0.4);
}

td:nth-child(3n) {
    border-right: 4px solid white;
}

tr:nth-child(3n) td {
    border-bottom: 4px solid white;
}

td:nth-child(3n+1) {
    border-left: 4px solid white;
}

tr:nth-child(3n+1) td {
    border-top: 4px solid white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background: linear-gradient(210deg, rgba(220,220,255,1) 0%,rgba(190,240,231,1) 100%);
}

input.cell {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    line-height: 30px;
    font-family: monospace;
    text-align: center;
    color: transparent;
    text-shadow: 0 0 0 black;
    font-size: 28px;
    font-weight: 900;
}

td > div {
    line-height: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: #333;
    background-color: rgba(0,0,0,0.2);
}

td {
    position: relative;
}

td > * {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

input.cell:focus {
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
}